* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* position: relative; */
  /* border: 5px solid green; */
  height: 100vh;
  width: 100vw;
  /* background: green; */
}

#background-pdf {
  border: 1px solid black;
  position: absolute;
}

#myCanvas {
  border: 1px solid purple;
  position: absolute;
  z-index: 1;
}

#download-btn {
  position: absolute;
  width: 100px;
  /* z-index: 2; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output {
  position: absolute;
  /* z-index: 5; */
}